<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="launch-widget"
     [style.background]="color.launchbarColor"
     [style.border-radius]="borderRadius">
  <div class="mvd-launchbar-icon mvd-launchbar-icon-large launchbar-menu-icon"
       [style.width]="menuIconSize"
       [style.height]="menuIconSize"
       (click)="activeToggle()"
       id="ZAP_DesktopHome_ZoweStart"></div>
</div>

<ng-template [ngIf]="isActive">
  <div class="launch-widget-popup"
       [style.background]="color.launchbarMenuColor"
       [style.color]="color.launchbarMenuText"
       [style.width]="menuWidth"
       [style.bottom]="menuBottom"
       (click)="setSearchFocus();">
    <div style="cursor: pointer" 
      class="refresh-plugins" 
      (click)="refresh()"
      id="ZAP_DesktopHome_RefreshApplications">
      {{translation.translate("Refresh Applications")}}
      <em style="padding: 5px" class="fa fa-refresh" (click)="refresh()"></em>
    </div>
    <div style="margin: 20px"></div>
    <div #menudiv class="launch-menu-scroller"
         [style.background]="color.launchbarMenuColor"
         [style.width]="menuWidthInner"
         [style.color]="color.launchbarMenuText">
      <ng-container *ngFor="let entry of combinedEntries; let i = index;">
        <!-- App entry -->
        <div *ngIf="entry.kind === 'app'" class="launch-widget-row"
          (click)="clicked(entry.item)"
          [title]="entry.item.tooltip"
          (contextmenu)="onRightClick($event, entry.item)"
          [class.active]="i==this.activeIndex"
          (mouseover)="this.activeIndex=i">
            <div class="icon"
                [style.width]="appIconSize"
                [style.height]="appIconSize"
                [style.background-image]="'url('+entry.item.image+')'"></div>
            <div class="app-label"
                [style.padding-top]="appLabelPadding"
                [style.font-size]="menuText">{{entry.item.label}}</div>
        </div>
        <!-- User-created folder entry -->
        <div *ngIf="entry.kind === 'userFolder'" class="launch-widget-row launch-widget-folder-row"
          (click)="folderClicked(entry.folder)"
          (contextmenu)="onFolderRightClick($event, entry.folder)"
          [title]="entry.folder.name"
          [class.active]="i==this.activeIndex"
          (mouseover)="this.activeIndex=i">
            <div class="icon launch-menu-folder-icon"
                [style.width]="appIconSize"
                [style.height]="appIconSize">
              <em class="fa fa-folder" [style.font-size]="appIconSize"></em>
            </div>
            <div class="app-label"
                [style.padding-top]="appLabelPadding"
                [style.font-size]="menuText">{{entry.folder.name}}</div>
        </div>
        <!-- Shipped folder header -->
        <div *ngIf="entry.kind === 'shippedFolder'" class="launch-widget-row launch-widget-shipped-folder-row"
          (click)="toggleShippedFolder(entry.folder)"
          [title]="entry.folder.name"
          [class.active]="i==this.activeIndex"
          [class.expanded]="expandedShippedFolderName === entry.folder.name"
          (mouseover)="this.activeIndex=i">
            <div class="icon launch-menu-folder-icon"
                [style.width]="appIconSize"
                [style.height]="appIconSize">
              <em class="fa fa-folder-open" *ngIf="expandedShippedFolderName === entry.folder.name" [style.font-size]="appIconSize"></em>
              <em class="fa fa-folder" *ngIf="expandedShippedFolderName !== entry.folder.name" [style.font-size]="appIconSize"></em>
            </div>
            <div class="app-label"
                [style.padding-top]="appLabelPadding"
                [style.font-size]="menuText">{{entry.folder.name}}</div>
        </div>
        <!-- Shipped folder item -->
        <div *ngIf="entry.kind === 'shippedItem'" class="launch-widget-row launch-widget-shipped-item-row"
          (click)="onShippedFolderItemClicked(entry.item); $event.stopPropagation()"
          [title]="entry.item.title || entry.item.id || entry.item.dest || ''"
          [class.active]="i==this.activeIndex"
          [class.last-shipped-item]="isLastShippedItem(i)"
          (mouseover)="this.activeIndex=i">
            <div class="icon launch-menu-shipped-item-icon"
                [style.width]="appIconSize"
                [style.height]="appIconSize"
                [style.background-image]="entry.resolvedIcon ? 'url(' + entry.resolvedIcon + ')' : null"
                [class.has-app-icon]="entry.resolvedIcon">
              <em *ngIf="!entry.resolvedIcon" [class]="getShippedFolderItemIcon(entry.item)" [style.font-size]="appIconSize"></em>
            </div>
            <div class="app-label"
                [style.padding-top]="appLabelPadding"
                [style.font-size]="menuText">{{entry.item.title || entry.item.id || entry.item.dest}}</div>
        </div>
      </ng-container>
    </div>
    <div class="launch-menu-search">
      <em class="launch-menu-search-icon fa fa-search"></em>
      <input #searchapp class="launch-menu-search-input" type="text" 
        placeholder="{{translation.translate('Search')}}"
        [style.font-size]="menuText"
        [style.color]="color.launchbarMenuText"
        [(ngModel)]="appFilter"
        (input)="filterMenuItems()"
        id="ZAP_DesktopHome_SearchApplications">
    </div>
  </div>
</ng-template>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

