

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.launchbar-icon {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  margin-top: 35px;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  cursor: pointer;
  z-index: 7;
  background-image: url("../../../../../assets/images/launchbar/more-apps.png");
}

.launch-widget {
  width: 125px;
  height: 110px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 7;
}

.icon {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  background: transparent;
}

.launch-widget-row-settings p {
  margin-left: 60px;
  line-height: 50px;
}


.launch-widget-row {
  list-style: none;
  height: 60px;
  margin: 0px 5px;
  text-align: left;
  cursor: pointer;
}

.launch-widget-row .icon {
  width: 50px;
  height: 50px;
}

.launch-widget-row p {
  margin-left: 60px;
  line-height: 50px;
}

.launch-widget-popup {
  width: 335px;
  height: 350px;
  position: absolute;
  bottom: 110px;
  left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #dde8f1;
  padding: 30px;
  overflow-y: scroll;
}

.launchbar-separator-hor {
  color: #36617a;
}

.caret-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid #dde8f1;
}

.caret-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #dde8f1;
}

.launch-widget-caret {
  position: absolute;
  bottom: 90px;
  left: 45px;
}

.launchbar-separator {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 5px;
  background-color: #36617a;
}

.launchbar-separator.right {
  right: 0;
}

.launchbar-separator.left {
  left: 0;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

