

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="launch-widget">
  <div class="mvd-launchbar-icon mvd-launchbar-icon-large launchbar-menu-icon" (click)="activeToggle()"></div>
  <div class="launchbar-separator right"></div>
</div>

<ng-template [ngIf]="isActive">
  <div class="launch-widget-popup">
    <!-- <div class="launch-widget-row" (click)="personalizationPanelToggle()">
        <img class="icon" src="/ZLUX/plugins/org.zowe.zlux.ng2desktop.settings/web/assets/Settings2.png">
        <p>Preferences</p>
    </div>
    <hr class="launchbar-separator-hor"> -->
    <div class="launch-widget-row" *ngFor="let item of menuItems" (click)="clicked(item)" [title]="item.tooltip" (contextmenu)="onRightClick($event, item)">
      <img class="icon" [src]="item.image">
      <p>{{item.label}}</p>
    </div>
  </div>
  <div class="launch-widget-caret caret-down"></div>
</ng-template>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

