.appStoreContainer {
  font-family: "Roboto", sans-serif;
  background-color: #2f2f2f;
}

.sliderArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #222;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.sliderArrow:hover {
  background-color: #333;
}

.nextArrow {
  right: -20px;
}

.prevArrow {
  left: -20px;
}

.appContainer {
  display: flex;
  width: 90%;
  min-height: 150px;
  background: #222;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

.appContainer:hover {
  background: #333;
}

.appIcon {
  max-width: 48px;
  max-height: 48px;
}

.appInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  width: 100%;
}

.appNameContainer {
  display: flex;
  flex-direction: column;
}

.appName {
  font-size: 14px;
  color: white;
}

.appPublisher {
  font-size: 12px;
  color: #aaa;
}

.appDescription {
  font-size: 12px;
  color: #aaa;
}

.installButton {
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
  padding: 6px;
  background: #3162ac;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appList {
  width: 90%;
}

.optionButton {
  height: 30px;
  border: none;
  outline: none;
  color: #9b9c9e;
  background: inherit;
  padding: 0 10px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 500;
}

.optionButton:focus {
  outline: none;
}

.optionButton:hover {
  background: #343434;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
