

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<ng-container *ngIf="componentRef != null; then componentReady else componentLoading"></ng-container> 

<ng-template #componentReady>
  <direct-embed-component [component]="componentRef"></direct-embed-component>
</ng-template> 
<ng-template #componentLoading> 
  <ng-content></ng-content>
</ng-template>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

