

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.launchbar-container {
  box-sizing: border-box;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: transparent;
  text-align: left;
  margin: 0;
  padding: 0;
  z-index: 19000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.launchbar-container.active {
  z-index: 10000;
}

.launchbar-basement {
  position: absolute;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: #557999;
  margin: 0;
  padding: 0;
}

.launchbar {
  height: 110px;
  box-sizing: border-box;
  display: flex;
  background: transparent;
  text-align: left;
  z-index: 6;
  margin: 0;
  margin-left: 130px; /* Prevent overlap with launch widget on the left */
  margin-right: 150px; /* Prevent overlap with lauchbar clock and searcb bar on the right */
  padding: 0;
  padding-left: 25px;
  padding-top: 0;
}

rs-com-launchbar-icon {
  text-align: center;
}

/* 
.mat-snack-bar-container {
  background-color: blue;
  width: 100px;
  position: absolute;
  right: 20px;
} */


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

