

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

html {
 width: 100%;
 height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  width:100%;
  height:100%;
}

.desktop {
  box-sizing: border-box;
  position: absolute;
  cursor: default;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Force the scroll bar to be show in webkit browser (Mac hides by default) */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.35);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

