

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.fa.fa-spinner.rs-com-css-fa-spinner {
  margin: 10px;
  font-size: x-large;
  color: green;
}

.containter-fluid.rs-com-css-container-fluid-root {
  margin: 0 10px 0 10px;
  background: white;
}

/* breadcrumbs */
/* Manual positioning in a nav */
.breadcrumb.rs-com-css-breadcrumb {
  padding: 15px 0 0 0;
  background: inherit;
}

.breadcrumb.rs-com-css-breadcrumb > li+li:before,
.breadcrumb-item .rs-com-css-breadcrumb-last {
  color: black;
}
/* breadcrumbs */

.navbar.rs-com-css-navbar-subheader {
  background: lightgray;
  margin: 0 0 1em 0;
  padding: 0;
}

.navbar.rs-com-css-navbar-subheader > .container {
  margin: 0;
  padding: 0 1em 0 0;
}

/* Super Search */
.form-control.rs-com-css-super-search-input {
  width: 30em;
}

.form-control.rs-com-css-super-search-error {
  border: 1px solid red;
}

.table .rs-com-css-table-count {
  text-align: right;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

