<div class="flex">
  <div class="outer-snackbar-container">
      <div class="snackbar-container">
          <img class="snackbar-icon" src={{data.imgSrc}}>
          <div class="snackbar-info">
              <div class="snackbar-title">{{data.title}}</div>
              <div class="snackbar-data">{{data.message}}</div>
          </div>

      </div>
      <div class="snackbar-dismiss text-left">
          <button class="snackbar-dismiss-button" (click)="snackBarRef.dismissWithAction()">Dismiss</button>
      </div>
  </div>
</div>
  