.snackbar-icon {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.snackbar-title {
    font-weight: 600;
    font-size: 16px;
}

.snackbar-container {
    /* float: left; */
    display: inline-block;
}

.outer-snackbar-container {
    overflow: hidden;
    float: left;
}

.snackbar-info {
    width: 180px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

.snackbar-dismiss {
    display: inline-block;
    /* transform: translate(-50%, -100%); */
    /* width: 46px; */
    border-left-style: solid; 
    vertical-align: top;
    height: 50px;
    /* transform: translate(0%, -50%); */
    position: absolute;
    height: 100%;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-width: 1px;
    border-color: #8080808f;
}

.snackbar-dismiss-button {
    width: 100%;
    height: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
    border: none;
    transition: 0.3s;
}

.snackbar-dismiss-button:hover {
    background-color: #B1BAC1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
