// Import Carbon styles (simplified approach)
// @import "~carbon-components/scss/globals/scss/styles";

.carbon--theme--white {
  font-family: Arial, Helvetica, sans-serif;
	color: #161616;
	background-color: #ffffff;

	p {
		max-width: 800px;
	}
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}
