

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.personalization-panel {
	width: 100%;
  height: 80%;
  background: #00000082;
  position: absolute;
  top: 5%;
  z-index: 6001;
}

.personalization-panel-item {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  padding: 70px;
}

.panel-item-keyboard{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/keyboard.png');
}

.panel-item-calendar{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/calendar.png');
}
.panel-item-resolution{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/resolution.png');
}
.panel-item-color_correction{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/color_correction.png');
}
.panel-item-foreign_language{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/foreign_language.png');
}
.panel-item-management{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/management.png');
}
.panel-item-font_color{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/font_color.png');
}
.panel-item-audio_volume_medium{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/audio_volume_medium.png');
}
.panel-item-printer{
  background-image: url('../../../../../../virtual-desktop/src/assets/images/personalization/printer.png');
}

.personalization-panel-ul {
  height: 100%;
  width: 100%;
  padding: 2%;
  overflow: auto;
  text-align: center;
}

.personalization-panel-li {
  display: inline-block;
  padding: 2%;
}

.personalization-panel-span {
  color: white;
  display: block;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

 