
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="top-title">
	New Application
</div>
<div class="create-container">
	<div class="top-row">
		<div class="form-container">
			<h4 class="item-label">Identifier</h4>
			<input ibmText [(ngModel)]="pluginConfig.identifier" placeholder="Identifier e.g. com.your.application"
				class="input-field">
			<h4 class="item-label name">Name</h4>
			<input ibmText [(ngModel)]="pluginConfig.webContent.launchDefinition.pluginShortNameDefault" placeholder="Application Name" class="input-field">

			<h4 class="item-label name">Summary</h4>
			<input ibmText [(ngModel)]="pluginConfig.webContent.descriptionDefault" placeholder="Application Description" class="input-field">

			<h4 class="item-label framework">Framework</h4>
			<ibm-dropdown placeholder="Select Framework">
				<ibm-dropdown-list [items]="frameworkList" (select)="frameworkSelect($event)"></ibm-dropdown-list>
			</ibm-dropdown>

	    <h4 class="item-label framework">Templates</h4>
		  <div class="template-waring" *ngIf="this.currentFramework === 'Choose a framework'">
			  Choose a framework and select your template.
		  </div>
		  <ibm-dropdown placeholder="Select Template">
			  <ibm-dropdown-list [items]="templateList" (select)="templateSelect($event)"></ibm-dropdown-list>
		  </ibm-dropdown>
      
			<h4 class="item-label name optional">License</h4>
			<input ibmText [(ngModel)]="pluginConfig.license" placeholder="License Name" class="input-field">

			<h4 class="item-label name optional">Author</h4>
			<input ibmText [(ngModel)]="pluginConfig.author" placeholder="Author" class="input-field">

			<h4 class="item-label name optional">Author Homepage</h4>
			<input ibmText [(ngModel)]="pluginConfig.homepage" placeholder="Author Homepage" class="input-field">
		</div>

    <div class="module-container">
      <!--
      <h4 class="item-label">Icon</h4>
      <app-file-uploader
			  [description]="'Only png files, at least 64x64 size. 1MB max file size.'"
			  [accept]="['.png']"
			  [multiple]="false"
        [(files)]="files"
        [size]="1000000"
			  [buttonText]="'Upload'">
		  </app-file-uploader>
      -->
      <h4 class="item-label">Preview</h4>
			<textarea
				ibmTextArea
				[disabled]="true"
				[theme]="'light'"
				[rows]="25"
				[cols]="40">{{pluginText}}</textarea>
    </div>
	</div>

	<div class="control-container">
		<button ibmButton [disabled]="!pluginConfig.identifier || !pluginConfig.webContent.descriptionDefault || !pluginConfig.webContent.launchDefinition.pluginShortNameDefault || !pluginConfig.webContent.framework || !pluginConfig.template" (click)="generateApp()">Create</button>
	</div>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
