.top-title {
	font-size: 18px;
    font-weight: bold;
    height: 50px;
    background-color: #0062ff;
    color: white;
    line-height: 50px;
    padding-left: 20px;
}

.create-container {
	padding: 10px;

	.item-label {
		padding-bottom: 10px;
		font-size: 24px;
		font-weight: bold;

		&.framework,
		&.name {
			margin-top: 10px;
		}
    &.optional {
      color: grey;
    }
	}

	.top-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.form-container {
			padding: 10px;
			flex-basis: 50%;
		}

		.module-container {
			padding: 10px;
			flex-basis: 50%;
		}

	}

	.template-container {
		padding: 10px;

		.title-group {
			display: flex;
			flex-direction: row;

			.template-instance {
				// height: 209px;
				// flex-basis: 180px;
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}
			}

			// .template-instance /deep/ label {
			// 	height: 100%;
			// 	background: none;
			// 	color: #fff;
			// 	text-shadow: 2px 1px 3px #483f3f;
			// 	font-size: 14px;
			// 	font-weight: bold;
			// }
		}
	}

	.control-container {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}
