
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="top-title">
  Create Application
</div>

<div class="create-container">
  <div class="top-row">
    <div class="form-container">
      <ibm-label
        class="item-label"
        [invalid]="identifier.invalid"
        invalidText="Invalid character: only A-Z, 1-9, ., -, and _ allowed.">
        Identifier
        <input
          ibmText
          placeholder="Identifier e.g. com.your.application"
          pattern="[A-Za-z1-9.\-_]*"
          [(ngModel)]="pluginConfig.identifier"
          #identifier="ngModel">
      </ibm-label>

      <ibm-label
        class="item-label">
        Name
        <input
          ibmText
          placeholder="Application Name"
          [(ngModel)]="pluginConfig.webContent.launchDefinition.pluginShortNameDefault">
      </ibm-label>

      <ibm-label
        class="item-label">
        Description
        <input
          ibmText
          placeholder="Application Description"
          [(ngModel)]="pluginConfig.webContent.descriptionDefault">
      </ibm-label>

      <ibm-label
        class="item-label">
        Framework
      </ibm-label>
      <ibm-tile-group
        class="tile-group"
        (selected)="frameworkSelect($event.value)"
	[multiple]="false">
        <ibm-selection-tile
          *ngFor="let framework of frameworks"
          [value]="framework.value"
	  [selected]="framework.selected">
          <div class="tile-header">{{framework.value}}</div>
          <div class="tile-body">{{framework.desc}}</div>
        </ibm-selection-tile>
      </ibm-tile-group>

      <div
        *ngIf="isIframe"
        class="tile-group"
	style="display:block;">
        <div class="tile-header">
          iFrame specific
        </div>
        <div class="tile-body">
          Applies only to iFrame applications
        </div>
      </div>
      
      <ibm-label
        *ngIf="isIframe"
        class="item-label">
        Starting Page
        <input
          ibmText
          placeholder="html/index.html"
          [(ngModel)]="pluginConfig.webContent.startingPage">
      </ibm-label>

      <div *ngIf="templates">
        <ibm-label
          class="item-label">
          Template
        </ibm-label>
        <ibm-tile-group
          class="tile-group"
          (selected)="templateSelect($event.value)"
	  [multiple]="false">
          <ibm-selection-tile
            *ngFor="let template of templates"
            [value]="template.value"
	    [selected]="template.selected">
            <div class="tile-header">{{template.value}}</div>
            <div class="tile-body">{{template.desc}}</div>
          </ibm-selection-tile>
        </ibm-tile-group>
      </div>

      <ibm-label
        class="item-label">
        Version
        <input
          ibmText
          placeholder="Plugin Version"
          [(ngModel)]="pluginConfig.pluginVersion">
      </ibm-label>

<!--
      <ibm-number
        [(ngModel)]="pluginConfig.webContent.defaultWindowStyle.width">
      </ibm-number>
-->

      <ibm-label
        class="item-label">
        Author
        <input
          ibmText
          placeholder="Author"
          [(ngModel)]="pluginConfig.author">
      </ibm-label>

      <ibm-label
        class="item-label">
        Author Homepage
        <input
          ibmText
          placeholder="Author Homepage"
          [(ngModel)]="pluginConfig.homepage">
      </ibm-label>
    </div>
    
    <div class="module-container">
      <ibm-label>Preview
        <textarea
          ibmTextArea
          [disabled]="true"
          theme="light"
          [rows]="25"
          [cols]="45"
          aria-label="preview">{{pluginText}}
        </textarea>
      </ibm-label>
    </div>
  </div>

  <div class="control-container">
    <button
      ibmButton
      [disabled]="identifier.invalid
        || !pluginConfig.identifier
        || !pluginConfig.webContent.descriptionDefault
        || !pluginConfig.webContent.launchDefinition.pluginShortNameDefault
        || !pluginConfig.webContent.framework
        || !pluginConfig.template"
      (click)="generateApp()">
      Create
    </button>
  </div>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
