.create-container {
	padding: 10px;

	.top-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.form-container {
			padding: 10px;
			flex-basis: 30%;

			ibm-tile-group {
				display: flex;
				flex-direction: row;
			}
		}

		.module-container {
			padding: 10px;
			flex-basis: 30%;
		}
	}

	.control-container {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}
