
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
$css--body: false;
$css--reset: false;

@import "~@rocketsoftware/carbon-components/scss/globals/scss/styles.scss";

.parent {
  flex-direction: column;

  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
  margin: auto;
}

.everyone {
  margin-left: 10px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

.username {
  margin-right: 10px;
  width: 200px;
}

.message {
  margin-top: 10px;
}

.recipient {
  margin-top: 50px;
}

.recipient-options {
  margin-top: 10px;
}

.notification-title-label{
  float: left;
  margin-right: 10px;
}

.send-notification {
  align-content: center;
}

.send-notification-button {
  width: 100%;
  background-color: #0062ff;
  border: none;
  color: white;
  transition: 0.3s;
  height: 40px;
}
.send-notification-button:hover {
  background-color: #0058e6
  ;
}

.send-notification-button:active {
  background-color: #0530ad;
}

.recipient-input-container {
  position: absolute;
  z-index: 10;
  width: 80%;
}

.recipient-dropdown-container {
  z-index: 11;
}

.recipient-dropdown-container:active {
  -webkit-appearance:none;
  outline: none;
}

.recipient-dropdown:active {
  -webkit-appearance:none;
  outline: none;
}

.bx--list-box__field {
  margin-top: -10px;
  -webkit-appearance: none !important;
  outline: none !important;
}

.recipient-label {
  float: left;
  vertical-align: middle;
  line-height: 60px;
  font-weight: 900;
  font-size: 18px;
}

.notification-label {
  font-weight: 900;
  font-size: 18px;
}

.notification-info {
  margin-top: 10px;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

