
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="launchbar-notifications">
    <span> {{messageCount}} </span>
    <button (click)="buttonClicked($event)">Test</button>
    <div class="launchbar-seperator left"></div>
    <div [hidden]="shown" class='notifications'>
      <div class="notification" *ngFor="let item of allNotifications; let i = index" [attr.data-index]="i">
        <div class="notification-container">
          <div class="message" >{{item.message}}</div>
          <div class="delete" (click)="deleteNotification($event, i)">X</div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    This program and the accompanying materials are
    made available under the terms of the Eclipse Public License v2.0 which accompanies
    this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
    
    SPDX-License-Identifier: EPL-2.0
    
    Copyright Contributors to the Zowe Project.
  -->