<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="personalization-main-window">
  <label class="personalization-label small back-button top" (click)="goBack()">
    <i class="fa fa-chevron-left" style="padding: 5px; font-size: large; padding-right: 7px; margin-top: 2px;">
    </i>Back</label>

  <label class="personalization-label small reset-button top" (click)="resetAllDefault()">Reset to Default
    <i class="fa fa-trash" style="padding: 5px; font-size: large;"></i>
  </label>

  <label class="personalization-label">Background</label>
  <!-- <form action="/action_page.php" class="personalization-upload">
    <input type="file" id="myFile" name="filename">
    <input type="submit" class="personalization-submit">
  </form> -->

  <!-- <div id="dropzone">
  <form action="/file-upload" class="dropzone">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
  </div> -->

  <ngx-file-drop 
    dropZoneLabel="Drop wallpaper here" 
    (onFileDrop)="dropped($event)" 
    multiple="false"
    style="color: white !important;"
    
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div *ngIf="files != []">Drop or  &nbsp;<a href="#" (click)="openFileSelector()">upload</a>&nbsp;  wallpaper here.</div>
        <!-- <button type="button" (click)="openFileSelector()">Upload</button> -->
      </ng-template>
    </ngx-file-drop>

  <label class="personalization-label">Color</label>
  <div class="personalization-color-1">
    <color-circle [color]="this.selectedColor" (onChangeComplete)="colorSelected($event.color)" 
    [width]="380" [colors]='["#f44336", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5", "#2196f3", 
    "#03a9f4", "#00bcd4", "#009688", "#4caf50", "#8bc34a", "#cddc39", "#ffeb3b", "#ffc107", 
    "#ff9800", "#ff5722", "#795548", "#607d8b"]'
    ></color-circle>
  </div>
  <div class="personalization-color-2">
    <color-slider [color]="this.selectedColor" (onChangeComplete)="colorSelected($event.color)"></color-slider>
  </div>
  <label class="personalization-label">Size</label>

  <img class="personalization-preview-item preview-small" (click)="previewSelected('small')">
  <img class="personalization-preview-item preview-medium" (click)="previewSelected('medium')">
  <img class="personalization-preview-item preview-large" (click)="previewSelected('large')">

  <label class="personalization-label">Text Size</label>
  <!-- <div class="language-content-left">
      <img class="language-icon"><hr class="language-separator-hor">
      <button class="language-button" (click)="selectEnglish()" title="{{Select}}">English</button><hr class="language-separator-hor">
      <button class="language-button" (click)="selectChinese()" title="{{Select}}">中文</button><hr class="language-separator-hor">
      <button class="language-button" (click)="selectFrench()" title="{{Select}}">Français</button><hr class="language-separator-hor">
      <button class="language-button" (click)="selectJapanese()" title="{{Select}}">日本語</button><hr class="language-separator-hor">
      <button class="language-button" (click)="selectRussian()" title="{{Select}}">Pусский</button><hr class="language-separator-hor">
      <button class="language-button" (click)="selectGerman()" title="{{Select}}">Deutsch</button><hr class="language-separator-hor">
  </div>
  <div class="language-content-right">
    
    <label class="language-label"> {{LanguageSelected}}: {{selectedLanguage}}</label>
    <button type="submit" class="language-submit" (click)="applyLanguage()">{{Apply}}</button>
  </div> -->
</div>

<!-- Zowe popup window is immutable by design, so we must pass a style via HTML -->
<!-- <div class="global-veil" *ngIf="isVeilVisible">
<zlux-popup-window
      header="{{LanguageChanges}}"
      (onCloseWindow)="closeRestartWindow()"
      [dark]="true"
      [currentStyle]="{ 'width': '700px',
      'height': '230px' , 
      'background-color': 'rgb(236, 200, 240)', 
      'font-size': 'large', 
      'padding': '5px', 
      'margin': 'auto' ,
      'text-align': 'center', 
      'margin-top': '15%', 
      'color': '#36617a' }"
      *ngIf="isRestartWindowVisible">
      <div class="content-close"><br>{{RestartDescr1}}<br>{{RestartDescr2}}</div>
      <zlux-popup-window-button-area [ngStyle]="{'background-color':'rgb(236, 200, 240)'}">
        <zlux-button (click)="restartZowe(); exit();"
          label="{{RestartNow}}"
          callToAction="true">
        </zlux-button>
        <zlux-button (click)="closeRestartWindow()"
          label="{{RestartLater}}">
        </zlux-button>
      </zlux-popup-window-button-area>
  </zlux-popup-window>
</div> -->


<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
