

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

<h1>?</h1>
<div class="title" i18n="message|Message when plugin failed to load@@plugin-loading-failed-message">The plugin failed to load</div>
<br/>
<div class="contents">
  <ul>
    <li *ngFor="let error of errors" class="error-value">
      <span class="error-name">{{error.name}}</span>: {{error.message}}
    </li>
  </ul>
</div>

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

