/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/
$width: 6em;

div {
  flex: 0 0 auto;
  max-width: $width;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  
  span.title {
    padding: 0.1rem 0.2rem;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    &:hover {
      font-weight: bold;
    }
  }
  
  span.remove {
    border: 1px solid #777777;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    visibility: hidden;
    
    &:hover {
      font-weight: bold;
      border-width: 1.5px;
    }
  }
  
  &:hover span.remove {
    visibility: visible;
  }

}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/
