

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.launchbar-icon.active {
  background-position-y: 0px;
}

.launchbar-icon {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url('../../../../../assets/images/launchbar/missing.png');
  background-size: 60px 60px;
  margin-top: 22px;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  cursor: pointer;
  z-index: 7;
}

.launchbar-caption {
  display: inline-block;
  position: absolute;
  width: 60px;
  color: white;
  font-size: 8pt;
  top: 62px;
  left: 0;
  line-height: 120%;
}

.launchbar-icon-marker {
  margin-bottom: -32px;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 2px;
  background: transparent;
}

.launchbar-icon-marker.running {
  background: #6de2ff
}

/* SB */
.launchbar-icon-marker.running.running-multiple {
  width: 80%;
}

.launchbar-icon-marker.launch-bar-running-count {
  font-size: 10px;
  padding: 0 0 34px 10px;
  color: #6de2ff;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

