

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.launchbar-icon-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  width: 60px;
  height: 60px;
  padding: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 7;
  text-align: center;
}

.launchbar-icon-image.active {
  background-position-y: 0px;
}

.launchbar-caption {
  display: inline-block;
  position: absolute;
  width: 60px;
  color: white;
  background-color: #00000090;
  padding: 2px;
  border-radius: 4px;
  font-size: 8pt;
  bottom: 55px;
  left: 0;
  line-height: 120%;
  z-index: 7;
}

.launchbar-icon-marker {
  margin-bottom: -16px;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 2px;
  background: transparent;
}

.launchbar-icon-marker.running {
  background: #6de2ff
}

.launchbar-icon-marker-dots {
  margin-bottom: -17px;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 2px;
}


.launchbar-icon-marker-dot {
  border-radius: 25%;
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 2px;
  background-color: #6de2ff;
}

.launchbar-icon-marker-blank {
  background-color: #ffffff00;
}


.launchbar-icon-marker-more {
  display: inline-block;
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 13px;
  margin: 2px;
  right: 3px;
  color: #6de2ff;
  font-size: 8pt;
}


/* SB */
.launchbar-icon-marker.running.running-multiple {
  width: 80%;
}

.launchbar-icon-marker.launch-bar-running-count {
  font-size: 10px;
  padding: 0 0 34px 10px;
  color: #6de2ff;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

