<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->


<div class="personalization-panel" 
  (mouseenter)="panelMouseEnter()" 
  (mouseleave)="panelMouseLeave()"
  [style.width]='this.panelWidth'
  [style.maxWidth]='this.panelMaxWidth'
  id="ZAP_DesktopHome_Settings_Panel">
    <ul class="personalization-panel-ul" *ngIf="showPanel">
      <li class="personalization-panel-li" *ngFor="let tool of personalizationTools" (click)="openTool(tool)">
        <img class="personalization-panel-item panel-item-{{tool.imgSrc}}" alt="" id="ZAP_DesktopHome_Settings_{{tool.imgSrc}}Icon"><br>
        <span class="personalization-panel-span">{{tool.title}}</span>
      </li>
    </ul>

    <personalization-component *ngIf="showPersonalization"></personalization-component>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->