/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/

:host {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 1.2rem;
  border-bottom: 1px solid #777777;
}

input[type="url"] {
  flex: 1 1 auto;
}

button {
  flex: 0 0 3rem;
}

.icon-button {
  font-weight: 600;
}

.proxy {
  flex: 0 0 auto;
  width: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
  
  label {
    margin: 0;
  }
}
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/
