
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="top-title">
	Application: {{pluginConfig.webContent.launchDefinition.pluginShortNameDefault}}
</div>
<div class="edit-container">
	<div class="top-row">
		<div class="form-container">
			<h4 class="item-label">Identifier</h4>
			<input ibmText [(ngModel)]="pluginConfig.identifier" placeholder="Identifier e.g. com.your.application"
				disabled=true class="input-field">
			<h4 class="item-label name">Name</h4>
			<input ibmText [(ngModel)]="pluginConfig.webContent.launchDefinition.pluginShortNameDefault" placeholder="Application Name" class="input-field">

			<h4 class="item-label name">Summary</h4>
			<input ibmText [(ngModel)]="pluginConfig.webContent.descriptionDefault" placeholder="Application Description" class="input-field">

      <h4 class="item-label name">Version</h4>
			<input ibmText [(ngModel)]="pluginConfig.pluginVersion" placeholder="Application Version" class="input-field">

			<h4 class="item-label name">License</h4>
			<input ibmText [(ngModel)]="pluginConfig.license" placeholder="License Name" class="input-field">

			<h4 class="item-label name">Author</h4>
			<input ibmText [(ngModel)]="pluginConfig.author" placeholder="Author" class="input-field">

			<h4 class="item-label name">Author Homepage</h4>
			<input ibmText [(ngModel)]="pluginConfig.homepage" placeholder="Author Homepage" class="input-field">
      
		</div>

    <div class="module-container">
      <h4 class="item-label">Preview</h4>
			<textarea
				ibmTextArea
				[disabled]="true"
				[theme]="'light'"
				[rows]="25"
				[cols]="40">{{pluginText}}</textarea>
    </div>

  </div>

	<div class="control-container">
		<button ibmButton="danger" (click)="deleteApp(pluginConfig.identifier)">Delete</button>
		<button ibmButton (click)="openEditor(pluginConfig)" [title]="editReason()" [disabled]="!canEdit()">Open in Code Editor</button>
		<button ibmButton [disabled]="!pluginConfig.identifier || !pluginConfig.webContent.descriptionDefault || !pluginConfig.webContent.launchDefinition.pluginShortNameDefault || !pluginConfig.webContent.framework" (click)="updateApp()">Update</button>
	</div>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
