

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

<div class="desktop-cover" (click)="detectActivity()" (keypress)="detectActivity()" [class.active]="isLoading || needLogin">
  <ng-content></ng-content>
</div>

<div class="login-panel" [class.hidden]="!isLoading && !needLogin">
  <div class="login-overlay">
  <div>
    <img [src]="logo" alt="Zowe - z/OS Lightweight User Experience" />
    <form class="login-form" [hidden]="!needLogin">
      <p class="login-message">{{loginMessage}}</p>
      <label for="userid" i18n="label|Label for username@@username-label">Username</label>
      <input class="userid" id="usernameInput" aria-labelledby="user id" tabindex="1" type="text" name="userid" [(ngModel)]="username" minlength="1" maxlength="100" autofocus [attr.disabled]="locked?'':null" (keyup)="considerSubmit($event)"/>
      <label for="password" i18n="label|Label for password@@password-label">{{this.expiredPassword ? "Old Password" : "Password"}}</label>
      <input class="password" id="passwordInput" aria-labelledby="password" tabindex="1" type="password" name="password"[(ngModel)]="password" maxlength="100" [attr.disabled]="locked?'':null" (keyup)="considerSubmit($event)"/>
      <label [hidden]="!expiredPassword" for="newPassword" i18n="label|Label for password@@password-label">New Password</label>
      <input [hidden]="!expiredPassword" class="newPassword" id="newPasswordInput" aria-labelledby="newPassword" tabindex="1" type="password" name="newPassword"[(ngModel)]="newPassword" maxlength="100" [attr.disabled]="locked?'':null" (keyup)="considerSubmit($event)"/>
    </form>
    <p class="login-error">{{errorMessage || "&nbsp;"}}</p>
    <div class="fa fa-spinner fa-spin fa-5x" [hidden]="!isLoading"></div>
    <div>
      <button id="#loginButton"
        class="login-button"
        (click)="cancelPasswordReset()"
        [hidden]="!expiredPassword"
        [disabled]="locked">
        <span class="login-button-icon"></span>
        <br>
        <span class="login-label" i18n="button title|Title of Login button@@login-button-title">Cancel</span>
        <br><br>
      </button>
      <button id="#loginButton"
        class="login-button"
        (click)="loginMiddleman()"
        [hidden]="!needLogin"
        [disabled]="locked">
        <span class="login-button-icon"></span>
        <br>
        <span class="login-label" i18n="button title|Title of Login button@@login-button-title">Log in</span>
        <br><br>
      </button>
    </div>
    <span class="login-plugin-version">{{getPluginVersion()}}</span>
  </div>
  </div>
</div>

<!-- sometimes we may not be able to tell if the user is idle or not, so ask them directly with a popup -->
<zlux-popup-manager>
</zlux-popup-manager>

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

