

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div
  [class.minimized]="isMinimized()"
  [class.maximized]="isMaximized()"
  [class.active]="hasFocus()"

  [ngStyle]="positionStyle()"

  rs-com-draggable
  [rs-com-draggable-window]="desktopWindow"
  [rs-com-draggable-handle]="dragHandle" 
  [rs-com-draggable-enabled]="isNormal()"

  rs-com-sizeable
  [rs-com-sizeable-window]="desktopWindow"
  [rs-com-sizeable-min-width]="MIN_WIDTH"
  [rs-com-sizeable-min-height]="MIN_HEIGHT"
  [rs-com-sizeable-w]="w"
  [rs-com-sizeable-s]="s"
  [rs-com-sizeable-e]="e"
  [rs-com-sizeable-n]="n"
  [rs-com-sizeable-ne]="ne"
  [rs-com-sizeable-nw]="nw"
  [rs-com-sizeable-se]="se"
  [rs-com-sizeable-sw]="sw"
  [rs-com-sizeable-enabled]="isNormal()"

  class="window">

  <div class="border-box-sizing">

  <!-- Window control bar -->
  <div [class.inactive]="!hasFocus()" class="heading" (mousedown)="requestFocus()">
    <div class="caption handle" #dragHandle>{{getTitle()}}</div>
    <div class="minimize-button" (click)="minimizeToggle()"></div>
    <div class="maximize-button" (click)="maximizeToggle()" [class.maximized]="isMaximized()"></div>
    <div class="close-button" (click)="close()"></div>
  </div>

  <!-- Window body -->
  <div class="body" (mousedown)="requestFocus()" #windowBody>
    <com-rs-mvd-viewport [viewportId]="desktopWindow.viewportId" [attr.rs-com-viewport-id]="desktopWindow.viewportId">
      <!-- Loading display -->
      <div class="full-center">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
    </com-rs-mvd-viewport>
  </div>

  <!-- Window resize grips -->
  <div class="draggable-grips" (mousedown)="requestFocus()">
    <div class="grip-w" #w></div>
    <div class="grip-s" #s></div>
    <div class="grip-e" #e></div>
    <div class="grip-n" #n></div>
    <div class="grip-ne" #ne></div>
    <div class="grip-nw" #nw></div>
    <div class="grip-se" #se></div>
    <div class="grip-sw" #sw></div>
  </div>

  </div>
</div>


<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

