

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="window-pane" [ngStyle]="wallpaper" id="ZAP_DesktopHome_Wallpaper">
  <div *ngFor="let window of windows">
    <rs-com-mvd-window [desktopWindow]="window" [theme]="theme"></rs-com-mvd-window>
  </div>
</div>


<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

