

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

<div class="launchbar-user-popup" [class.hidden]="!popupVisible">
  <h5 class="launchbar-username">{{getUsername()}}</h5>
  <button #logoutbutton class="btn btn-primary launchbar-button" (click)="logout()"
    i18n="signout button|Title of Sign out button@@signout-button-title">Log out</button>
  <h6 class="launchbar-plugin-version">{{getPluginVersion()}}</h6>
  <!-- <button #languagebutton class="btn btn-primary launchbar-button" (click)="setLanguage('fr')">French</button>
  <button #clearlanguagebutton class="btn btn-primary launchbar-button" (click)="setLanguage(null)">Clear Language</button>
  <button #localebutton class="btn btn-primary launchbar-button" (click)="setLocale('US')">Locale</button>
  -->
</div>

<div [hidden]="!notificationsVisible" class='notifications'>
  <div class="notification-item" *ngFor="let item of notifications; let i = index" [attr.data-index]="i">
      <div class="outer-container" (click)="focusApplication(i)">
          <div class="notification-icon-container">
            <img class="notification-icon" [src]="info[i].imgSrc">
          </div>
          <div class="notification-content">
            <div class="notification-title">{{item['notification'].title}}</div>
            <div class="notification-message">{{item['notification'].message}}</div>
          </div>
          <img class="delete-notification" (click)="deleteNotification(item);$event.stopPropagation()" [src]="closeImage">
          <!-- Time Does Not Work -->
          <!-- <div class="time-container"> -->
            <!-- <div class="time">{{item.date.split("T")[1].split('.')[0]}}</div> -->
            <!-- <div class="timeAgo">{{info[i].timeSince}}</div> -->
          <!-- </div> -->
      </div>
      <hr class="notification-breaker">
  </div>
</div>
<div [hidden]="!notificationsVisible" class="launch-widget-caret caret-down"></div>

<div class="launchbar-clock">
  <div class="launchbar-separator left"></div>
  <span>
    <span>{{date | date:'shortTime'}}</span>
    <br>
    <span>{{date | date:'shortDate'}}</span>
  </span>
  <div #usericon class="launchbar-tray-icon notification" (click)="toggleNotifications()">
      <div [hidden]="notifications.length == 0"class="launchbar-tray-indicator">{{notifications.length}}</div>
  </div>
  <div #usericon class="launchbar-tray-icon settings" (click)="togglePersonalizationPanel()"></div>
  <div #usericon class="launchbar-tray-icon user" (click)="togglePopup()"></div>
</div>

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

