

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.launchbar-clock {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: 60px;
  z-index: 7;
  color: #eee;
  padding-left: 18px;
  padding-top: 11px;
  padding-right: 10px;
  text-align: right;
}

.launchbar-tray-icon {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dde8f1;
  margin-top: -16px;
  margin-right: 7px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.launchbar-tray-icon.user {
  background-image: url('../../../../../assets/images/launchbar/person.png');
  background-size: 26px 26px;
  margin-right: 13px;
}

.launchbar-tray-icon.settings {
  background-image: url('../../../../../assets/images/launchbar/settings.png');
  background-size: 30px 30px;
}

.launchbar-user:hover {
  opacity: 0.9;
}

.launchbar-user-popup {
  width: 155px;
  height: 120px;
  position: absolute;
  bottom: 60px;
  right: 0;
  border-top-left-radius: 10px;
  background: #dde8f1;
  padding: 10px 15px;
  z-index: 7;
}

.launchbar-user-popup.hidden {
  display: none;
}

.launchbar-plugin-version {
  font-size: smaller;
  margin-top: 5px;
  color: #3333337d;
}

.btn.btn-primary.launchbar-button{
  width: 100%;
  margin: 5px 0px 5px 0px;
}

.launch-user-caret {
  position: absolute;
  bottom: 70px;
  right: 10px;
}

.launchbar-username {
  text-align: center;
}

.launchbar-separator {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 5px;
  background-color: #36617a;
}

.launchbar-separator.right {
  right: 0;
}

.launchbar-separator.left {
  left: 0;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

