.icon {
  width: 87px;
  height: 87px;
  background-image: url(../../../../assets/images/launchbar/missing.png);
  background-size: 100%;
  align-self: center;
}

.label {
  text-align: center;
  overflow: hidden;
  margin: 4px;
  align-self: center;
  max-height: 100%;
  max-width: fit-content;
  
}

.link {
  width: 87px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.link:hover {
  background-color: #ffffff61;
}
.link:active {
  background-color: #ffffff61;
}
