

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
 
.language-separator-hor {
  border-color: #e58e3e;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 1px;
}

.language-button {
  padding: 10px;
  color: #36617a;
  background-color: #0000000a;
  border: transparent;
  width: 100%;
  cursor: pointer;
}

.language-submit {
  background-color: #a875ad;
  color: #ffffff;
  font-size: 16px;
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.language-label {
  font-size: larger;
  padding: 5px;
  width: 100%;
}

.language-icon {
  width: 80px;
  height: 80px;
  background-image: url("../../assets/language_icon.png");
  background-size: 80px 80px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 90px;
  background-repeat: no-repeat;
}

.language-main-window {
  background-color: #dde8f1;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.language-content-left{
  flex-direction: column;
  width: 30%;
  background-color: #ecc8f0;
  text-align: center;
}

.language-content-right{
  width: 70%;
  padding: 5px;
  text-align: center;
}

.global-veil {
  width: 300%;
  height: 300%;
  background-color: #00000091;
  position: fixed;
  margin-left: -100%;
  margin-top: -150%;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

